<div id="wrapper">
  
  <!--=========================================================================
  メニュー
  ==========================================================================-->
  <%= render 'shared/topMenu' %>

  <div class="empty-line"></div>

  <!--=========================================================================
  年月日
  ==========================================================================-->
  <%= render 'shared/dateNavi', action: 'dailyList', type: 'YMD' %>

  <div class="empty-line"></div>
  
  <!--=========================================================================
  入力フォーム
  ==========================================================================-->
  <%= render 'cash_flows/inputCashFlow' %>
  
  <div class="empty-line"></div>
  
  <!--=========================================================================
  一覧
  ==========================================================================-->
  <%= render 'list', showDate: false, showEdit: true, showDelete: true, showFilter: false %>

</div>
