<div id="wrapper">
  
  <!--=========================================================================
  メニュー
  ==========================================================================-->
  <%= render 'shared/topMenu' %>

  <div class="empty-line"></div>

  <!--=========================================================================
  年月
  ==========================================================================-->
  <%= render 'shared/dateNavi', action: 'monthlyList', type: 'YM' %>

  <div class="empty-line"></div>
  
  <!--=========================================================================
  一覧
  ==========================================================================-->
  <%= render 'list', showDate: true, showEdit: false, showDelete: false, showFilter: true %>

</div>
