<!--=========================================================================
全ページ共通のメニュー
==========================================================================-->
<table width="100%" height="30px"
  style="border-bottom: 1px solid #ccc;
         padding: 1px 10px 1px 10px;">
  <tr>
    <td align="left">
      家計簿
    </td>
    <% if user_signed_in? %>
      <td align="right">
        <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> | 
        <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
      </td>
    <% end %>
  </tr>
</table>
